body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: relative;
    text-align: center;
    color: rgb(133, 12, 12);
}

.hero {
    position: relative;
    height: 70vh;
    background: url('../images/group.jpg') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(168, 12, 12);
    text-align: center;
    background-size: cover;
}

.hero h1 {
    font-size: 4rem;
    margin: 0;
}

.hero p {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.hero .btn {
    background-color: #333;
    color: rgb(255, 255, 255);
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 5px;
}

nav ul {
    list-style: none;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 1rem 0;
    display: inline-block;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
    text-align: center;
}

section img {
    max-width: 20%;
    height: auto;
    display: block;
    margin: 1rem auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.background {
    position: relative;
    height: 100%;
    background: url('images/group.jpg') no-repeat center center/cover;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

h1 {
    margin: 0;
}

.timerbody {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

#countdown {
    font-size: 3em;
    color: #ffffff;
}
